{% extends "header.html" %}

{% block body %}

<div class="container">
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-warning">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    <form method="POST" action="/register/">
        <dl>
            <dt><label for="username">Username</label></dt>
            <dd><input id="username" name="username" type="text" value=""></dd>
        </dl>
        <dl>
            <dt><label for="email">Email Address</label></dt>
            <dd><input id="email" name="email" type="text" value=""></dd>
        </dl>
        <dl>
            <dt><label for="password">Password</label></dt>
            <dd><input id="password" name="password" type="password" value=""></dd>
        </dl>
        <dl>
            <dt><label for="confirm">Confirm Password</label></dt>
            <dd><input id="confirm" name="confirm" type="password" value=""></dd>
        </dl>
        <input class="btn btn-default" type="submit" value="Login">
    </form>
</div>

{% endblock %}
