{% extends 'header.html' %} {% block body %} {% with messages = get_flashed_messages() %} {% if messages %}
<div class="alert alert-warning">
    {% for message in messages %} {{ message }} {% endfor %}
</div>
{% endif %} {% endwith %}
<div class="container">
    <div class="page-header">
        <h1 style="font-size: 50px; color: #2b669a;" >Share '{{ title }}'</h1>
    </div>
    {% if users[0] != False %}
        <h2> Select user to share with: </h2>
        <br>
        {% for user in users %}
            <div class="well">
                <a href="{{ url_for('share_text', texttitle = title, username=user.username) }}" method="POST" >{{ user.username }}</a>
            </div>
        {% endfor %}
    {% else %}
        <h2> No Valid Users </h2>
    {% endif %}
</div>
{% endblock %}
